<!-- footer -->
<footer>
    <div class="container py-64 py-md-32">
        <nav class="footer-nav d-f j-between a-center d-sm-block mb-24">
            <a href="index.html">
                <img src="/assets/images/logo.svg" alt="logo" class="logo">
            </a>
            <ul class="d-f d-sm-block a-center">
                <li class="me-40 hover-7 p-sm-12 mb-sm-0"><a href="products.html">商品列表</a></li>
                <li class="hover-7 p-sm-12"><a href="story.html">品牌故事</a></li>
            </ul>           
        </nav>

        <div class="copyright pt-32">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>