<!-- 註冊 -->
<div class="register py-24 px-md-12">
    <div class="register-content d-f j-center a-center">
        <h4 class="h4 h5-sm">加入會員取得 9 折優惠</h4>
        <button type="button" class="btn"><a href="registration.html" class="btn btn-dark">馬上註冊</a></button>
    </div>
</div>

<!-- footer -->
<footer>
    <div class="container py-64 py-md-32">
        <nav class="footer-nav d-f j-between a-center d-sm-block mb-24">
            <a href="index.html">
                <img src="/assets/images/logo.svg" alt="logo" class="logo">
            </a>
            <ul class="d-f d-sm-block a-center">
                <li class="me-40 hover-7 p-sm-12 mb-sm-0"><a href="products.html">商品列表</a></li>
                <li class="hover-7 p-sm-12"><a href="story.html">品牌故事</a></li>
            </ul>           
        </nav>

        <div class="copyright pt-32">
            <p class="mb-4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>