<nav class="container py-16 py-sm-13 d-f j-between a-center">
    <ul class="d-f a-center">
        <li class="me-48"><a href="index.html"><img src="/assets/images/logo.svg" alt="logo"></a></li>
        <li class="me-40 hover-7 d-sm-none">
            <a href="products.html">商品列表</a>
        </li>
        <li class="hover-7 d-sm-none">
            <a href="story.html">品牌故事</a>
        </li>
    </ul>
    <a href="registration.html" class="member hover-7"><i class="icon-member bi bi-person"></i></a>
</nav>


