.check-mark {
    width: 40px;
    height: 40px;
    background-color: $primary-300;
    border-radius: 50%;
    position: relative;
    .bi {
        position: absolute;
        color: $primary-500;
        font-size: 24px;
        left: 8px;
    }
}

.open-time {
    color: $primary-400;
    font-weight: 500;
    background-color: $primary-100; 
    padding: 16px; 
    align-items: center;
    .bi {
        font-size: 24px;
    }  
}

.item {
    padding-bottom: 32px;
    border-bottom: 1px solid $neutral-300;
    img {
        width: 120px;
        height: 120px;
    }
}

.item-info {
    width: 100%;
    p {
        font-weight: 500;
    }

    span {
        color: $neutral-600;
        font-weight: 500;
        font-weight: 400;
    }

    h6 {
        text-align: right;
        line-height: 1.2;
    }
}


@media (max-width: 767px) {
    .item-info h6{
        text-align: left;
    }  
}


.btn-reserve {
    padding: 0;
}

@media (max-width: 767px) {
    .btn {
        padding: 12px 24px;
    }
}
